<!--
  Generated template for the MorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>More</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="overlay"></div>
  <ion-list>
    <ion-item>
      <ion-icon ion-text color="light" name="settings" item-start></ion-icon>
      Settings
    </ion-item>
    <ion-item (click)="goFaq()">
      <ion-icon ion-text color="light" name="help" item-start></ion-icon>
      FAQ
    </ion-item>
    <ion-item>
      <ion-icon ion-text color="light" name="information" item-start></ion-icon>
      About
    </ion-item>
    <ion-item (click)="goContact()">
      <ion-icon ion-text color="light" name="pin" item-start></ion-icon>
      Contact
    </ion-item>
    <ion-item>
      <ion-icon ion-text color="light" name="document" item-start></ion-icon>
      Terms & Conditions
    </ion-item>
    <ion-item>
        <p class="version" text-center ion-text color="light">V 0.0.1</p>
    </ion-item>
    <ion-item class="social" text-center>
      <a href=""><ion-icon ion-text color="light" name="logo-facebook"></ion-icon></a>
      <a href=""><ion-icon ion-text color="light" name="logo-instagram"></ion-icon></a>
      <a href=""><ion-icon ion-text color="light" name="logo-twitter"></ion-icon></a>
    </ion-item>
    
  </ion-list>
  
</ion-content>