page-more {
    ion-content{
        .overlay{
            background:black;
            width:100%;
            opacity: .5;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
        background:url(../assets/imgs/bar.jpg) center center no-repeat;
        background-blend-mode: darken;
        background-size: cover;
        ion-item{
            background:transparent !important;
            color:color($colors,light) !important;
        }
        .version{
            z-index: 9999;
        }
        .social{
            a{
                margin:0px 20px;
            }
        }
    }
    .footer-md::before{
        background-image: unset !important;
    }
}
