<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="primary">
    <ion-title>LOGIN</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <div class="upper" padding text-center>
      <img src="assets/imgs/logo.png">
    <p ion-text color="light">Login to your account</p>
  </div>
  <div class="bottom">
    <form>
      <ion-item>
        <ion-label ion-text color="light" fixed>Email</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="light" fixed>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </form>
    <p padding ion-text color="light" text-center>Forgot password ?</p>
  </div>
  <div class="buttons">
    <ion-row>
      <ion-col text-center>
        <button class="outline" (click)="Signin()" ion-button>
          Login
        </button>
      </ion-col>
    </ion-row>
  </div>
  <p padding text-center ion-text color="light">Don't have an account ? <span ion-text color="primary" (click)="goReg()">Register</span></p>

  <p padding text-center ion-text color="light">Have any questions ? <span ion-text color="primary" (click)="goFaq()">FAQ</span></p>
</ion-content>
