page-login {
    ion-content{
        background:url(../assets/imgs/running.jpg) center center no-repeat;
        background-size: cover;
        .logo{
            width: 80px;
        }
        .upper{
            margin-top:20%;
            img{
                width:50%;
            }
        }
        .bottom{
            margin-bottom:20px;
        }
        form{
            ion-item{
                background:transparent !important;
                ion-input{
                    color:color($colors,light);
                }
            }
        }
    }
    
}
