page-session {
    .info h5,.info h4{
        margin-bottom:3px !important;
    }
    .info p{
        margin-top:0px !important;
    }
    .cover{
        background:black;
        position: relative;
        img{
            opacity: .5;
        }
        h4{
            position: absolute;
            top: 10px;
            right: 10px;
        }
        
        span{
            
            position: absolute;
            bottom: 10px;
            left: 10px;
            text-align: center;
            i{
                color:color($colors,secondary);
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    .footer-md::before{
        background-image: unset !important;
    }
    ion-footer{
        button{
            margin:0px !important;
        }
    }
}

