<!--
  Generated template for the SessionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Session</ion-title>
    <ion-buttons right>
        <button ion-button icon-only>
          <ion-icon name="notifications"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="cover">
    <img src="assets/imgs/bar.jpg">
    <h4 ion-text color="light">GET IN SHAPE</h4>
    <span ion-text color="gray"><i>5</i><br>SPOTS</span>
  </div>
<div padding class="info">
    <h4 ion-text color="secondary">Description</h4>
    <p ion-text color="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>

    <h5 ion-text color="secondary">Date</h5>
    <p ion-text color="gray">Mon, 12 May 2018</p>

    <h5 ion-text color="secondary">Time</h5>
    <p ion-text color="gray">12:00 PM</p>

    <h5 ion-text color="secondary">Location</h5>
    <p ion-text color="gray">Branch One</p>

</div>
</ion-content>
<ion-footer>
  <button ion-button block large (click)="confirm()" *ngIf="available" color="secondary">CONFIRM</button>
  <button ion-button block large (click)="cancel()" *ngIf="unavailable" color="danger">CANCEL</button>
</ion-footer>