<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="primary">
    <ion-title>REGISTER</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <div class="upper" padding text-center>
      <img src="assets/imgs/logo.png">
    <p ion-text color="light">Register your account</p>
  </div>
  <div class="bottom">
    <form>
      <ion-item>
        <ion-label ion-text color="light" fixed>Username</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="light" fixed>Email</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="light" fixed>Phone</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="light" fixed>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="light" >Packages</ion-label>
        <ion-select (ionChange)="onChange()" interface="action-sheet">
          <ion-option>Package 1</ion-option>
          <ion-option>Package 2</ion-option>
        </ion-select>
      </ion-item>
      <ion-list radio-group *ngIf="expandDateTime">
        <ion-list-header>
          Date & Time
        </ion-list-header>
        <ion-item>
          <ion-label ion-text color="light">Start Date</ion-label>
          <ion-datetime (ionChange)="showDays()" color="secondary"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="expandDay">
          <ion-label ion-text color="light">Day 1</ion-label>
          <ion-select interface="action-sheet" color="secondary">
            <ion-option>Sat</ion-option>
            <ion-option>Sun</ion-option>
            <ion-option>Mon</ion-option>
            <ion-option>Tue</ion-option>
            <ion-option>Wed</ion-option>
            <ion-option>Thu</ion-option>
            <ion-option>Fri</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="expandDay">
          <ion-label ion-text color="light">Time 1</ion-label>
          <ion-select interface="action-sheet" color="secondary">
            <ion-option>7:00 PM</ion-option>
            <ion-option>8:00 PM</ion-option>
            <ion-option>9:00 PM</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="expandDay">
          <ion-label ion-text color="light">Day 2</ion-label>
          <ion-select interface="action-sheet" color="secondary">
            <ion-option>Sat</ion-option>
            <ion-option>Sun</ion-option>
            <ion-option>Mon</ion-option>
            <ion-option>Tue</ion-option>
            <ion-option>Wed</ion-option>
            <ion-option>Thu</ion-option>
            <ion-option>Fri</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="expandDay">
          <ion-label ion-text color="light">Time 2</ion-label>
          <ion-select interface="action-sheet" color="secondary">
            <ion-option>7:00 PM</ion-option>
            <ion-option>8:00 PM</ion-option>
            <ion-option>9:00 PM</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="expandDay">
          <ion-label ion-text color="light">Day 3</ion-label>
          <ion-select interface="action-sheet" color="secondary">
            <ion-option>Sat</ion-option>
            <ion-option>Sun</ion-option>
            <ion-option>Mon</ion-option>
            <ion-option>Tue</ion-option>
            <ion-option>Wed</ion-option>
            <ion-option>Thu</ion-option>
            <ion-option>Fri</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="expandDay">
          <ion-label ion-text color="light">Time 3</ion-label>
          <ion-select interface="action-sheet" color="secondary">
            <ion-option>7:00 PM</ion-option>
            <ion-option>8:00 PM</ion-option>
            <ion-option>9:00 PM</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </div>
  <hr>
  <div class="buttons">
    <ion-row>
      <ion-col text-center>
        <button class="outline" (click)="Signup()" ion-button>
          Register
        </button>
      </ion-col>
    </ion-row>
  </div>
  <p padding text-center ion-text color="light">Already have an account ?
    <span ion-text color="primary" (click)="goLogin()">Login</span>
  </p>
</ion-content>