page-register {
    ion-content{
        background:url(../assets/imgs/running.jpg) center center no-repeat;
        background-size: cover;
        .logo{
            width: 80px;
        }
        .upper{
            margin-top:20%;
            img{
                width:50%;
            }
        }
        .bottom{
            margin-bottom:20px;
        }
        .datetime-text{
            color:color($colors,light);
        }
        form{
            .item-inner{
                border-bottom: 0.55px solid #c8c7cc61 !important;
            }
            ion-item{
                background:transparent !important;
                ion-input{
                    color:color($colors,light);
                }
            }
            .select-text{
                color:color($colors,light);
            }
            ion-list-header{
                background:#fff !important;
                color:color($colors,dark) !important;
            }
        }
    }
}
