<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Upcoming" tabIcon="apps"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="More" tabIcon="menu"></ion-tab>
</ion-tabs>
