page-profile {
    .user-info{
        padding:20px 0px 0px 0px;
        text-align: center;
        .avatar{
            width: 80px;
            height: 80px;
        }
        h4{
            margin-top:0px;
        }
        ion-icon{
            color:goldenrod;
            margin-right: 5px;
        }
        .qr{
            width:200px;
        }
    }
    ion-fab{
        h3{
            font-size: 0.2rem;
            text-align: center;
            margin-top: -2px;
            color: darkgray;
        }
    }
    .large {
        font-size: 62px;
    }
    .counter {
        p {
            color: grey;
        }
        h1 {
            font-size: 40px;
        }
    }
    .timer{
        font-size: 25px;
        line-height: 50px;
        font-weight: bold;
    }
    .date{
        line-height: 50px;
    }
    .valid {
        padding: 5px;
        border: 1px solid color($colors, gray);
    }
    .mg_r {
        margin-right: 5px;
    }
}
