<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="user-info">
    <img src="assets/imgs/model.jpg" class="avatar">
    <br>
    <h4 ion-text color="dark">Name</h4>
    <p>
      <ion-icon name="star"></ion-icon>4.5</p>
    <hr>
    <img class="qr" src="assets/imgs/qr.png">
    <p ion-text color="gray" padding>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
      from 45 BC, making it over 2000 years old</p>
    <hr>
  </div>
  <ion-fab top right>
    <button (click)="addTracker()" color="secondary" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    <h3>
      ADD
      <br>TRACKER
    </h3>
    <!-- <ion-fab-list>
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list> -->
  </ion-fab>
  <div padding>
    <ion-segment color="dark" [(ngModel)]="choice">
      <ion-segment-button value="sessions">
        Sessions
      </ion-segment-button>
      <ion-segment-button value="history">
        History
      </ion-segment-button>
      <ion-segment-button value="record">
        Records
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="choice">
    <ion-list *ngSwitchCase="'sessions'">
      <ion-card padding *ngFor="let x of [1,2,3,4]">
        <div class="counter" text-center>
          <strong>Title</strong>
          <h1 ion-text color="secondary">5</h1>
          <p>Remaining Sessions</p>
        </div>
        <ion-row text-center>
          <ion-col>
            <button ion-button small outline color="dark">
              <strong class="mg_r"> </strong> branch</button>
          </ion-col>
        </ion-row>
        <div padding>
          <p class="valid" text-center>Valid until :
            <strong ion-text color="secondary">12-12-2018</strong>
          </p>
        </div>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'history'">
      <ion-card padding>
        <div class="counter" text-center>
          <strong>Title</strong>
          <h1 ion-text color="secondary">155</h1>
          <p>Total Sessions</p>
        </div>
        <ion-row text-center>
          <ion-col>
            <button ion-button small outline color="dark">
              <strong class="mg_r"> </strong> branch</button>
          </ion-col>
        </ion-row>

      </ion-card>
      <ion-item (click)="viewSession()" *ngFor="let x of [1,2,3,4]">
        <h3 ion-text color="dark">Title</h3>
        <p ion-text color="gray">Lorem Ipsum is simply dummy text </p>
        <span class="sm-text" item-end ion-text color="secondary">12-02-2018</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'record'">
      <!-- <ion-item  *ngFor="let x of [1,2,3,4,5,6,7]">
            <h3 ion-text color="dark">Record</h3>
            <p ion-text color="gray">Stroke <span ion-text color="secondary">3 KM</span> distance.</p>
            <span class="sm-text" item-end ion-text color="secondary">30:24</span>
          </ion-item> -->
      <ion-card padding *ngFor="let x of [0,1,2,3,4,5,6,7,8,9]">
        <ion-row >
          <ion-col text-center>
            <div>
              <h1 ion-text color="secondary">50 M</h1>
              <p>Free Style</p>
            </div>
          </ion-col>
          <ion-col text-center>
            <h2 class="timer" ion-text color="dark">29:30</h2>
          </ion-col>
          <ion-col text-right>
            <span class="date" ion-text color="gray">12-12-2018</span>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-list>
  </div>

</ion-content>