page-splash {
    ion-content{
        background:url(../assets/imgs/splash.jpg) center center no-repeat;
        background-size: cover;
        img{
            margin-top:20%;
            width: 50%;
            font-weight: lighter;
        }
        
    }
}
