<!--
  Generated template for the SplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content text-center>
  <img src="assets/imgs/logo.png">
  <!-- <h3 ion-text color="primary">FIT4LIFE</h3> -->
</ion-content>
<ion-footer>
  <ion-row padding>
    <ion-col>
      <button (click)="goLog()" ion-button block class="outline">Login</button>
    </ion-col>
    <ion-col>
      <button (click)="goReg()" ion-button block class="outline">Register</button>
    </ion-col>
  </ion-row>
</ion-footer>
