<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons right>
        <button ion-button icon-only>
          <ion-icon name="notifications"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Drop us a line</ion-list-header>
    <ion-item>
      <ion-icon ion-text color="gray" name="pin" item-start></ion-icon>
      Location
    </ion-item>
    <ion-item>
      <ion-icon ion-text color="gray" name="mail" item-start></ion-icon>
      Email
    </ion-item>
    <ion-item>
      <ion-icon ion-text color="gray" name="call" item-start></ion-icon>
      Phone
    </ion-item>
    <ion-item>
      <ion-icon ion-text color="gray" name="globe" item-start></ion-icon>
      Social
    </ion-item>
  </ion-list>
</ion-content>