page-home {
  ion-content{
    .title {
      line-height: 0.5;
      text-align: center;
    }
    .title span {
      display: inline-block;
      position: relative;  
    }
  .title span:before,
  .title span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;
  top: 0;
  width:50px;
  }
  .title span:before {
      right: 100%;
      margin-right: 15px;
    }
    .title span:after {
      left: 100%;
      margin-left: 15px;
    }
  .card-background-page {

      ion-card {
        position: relative;
        text-align: center;
        background:black;
      }
      img{
          opacity: .5;
      }
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 1.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
        padding:0px 20px;
      }
    
    }
  ion-slides{
      height: 35%;
  }
  ion-scroll{
      
      height: 200px !important;
      background:white;
       .scroll-content{  
          // border-bottom: 1px solid darkgray !important;
           padding:0px !important;
           padding-left:5px !important;
           height: auto;
           overflow-x: visible !important;
           white-space: nowrap;
           .myItem{
               display: inline-block;
               padding:5px;
               margin:5px;
               width:200px;
               box-shadow:0px 0px 1px  darkgray;
              //  border-radius: 5px;
               width:200px;
               h3{
                  font-size: 12px;
                  margin:5px !important;
                  
               }
               p{
                  white-space: normal;
                  text-overflow: ellipsis;
                  overflow: hidden;
               }
           }
       }
       
   }
  }
    
}
