<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide>
      <img src="assets/imgs/slide1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/slide2.jpg">
    </ion-slide>
  </ion-slides>
  <div class="title">
    <span>New Updates</span>
  </div>
  <div>
    <!-- <h3 ion-text color="secondary">Title</h3>
    <p ion-text color="gray">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
    </p> -->

    <div class="card-background-page">

      <ion-card>
        <img src="assets/imgs/model.jpg"/>
        <div class="card-title">Get in shape</div>
        <div class="card-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
      </ion-card>
    
      <ion-card>
        <img src="assets/imgs/weight.jpg"/>
        <div class="card-title">Crossfit is now available</div>
        <div class="card-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
      </ion-card>
    
    </div>
  </div>
  <div class="title">
    <span>Announcements</span>
  </div>
  <ion-scroll scrollX="true" style="width: 100%; height: 100%;">
    <div *ngFor="let x of [1,2,3,4,5,6]" class="myItem">
      <h3 ion-text color="secondary">Name <span style="float: right;color:#ccc;" >12-12-2010</span></h3>
      <p ion-text color="gray">" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s " </p>
    </div>
  </ion-scroll>

</ion-content>