<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>FAQ</ion-title>
    <ion-buttons right>
        <button ion-button icon-only>
          <ion-icon name="notifications"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-row class="question-item">
      <ion-col col-10>
        <p class="question" item-start ion-text color="secondary">Q :
          <span ion-text color="dark">Lorem Ipsum is simply dummy text of the printing and typesetting ?</span>
        </p>
      </ion-col>
      <ion-col col-2 text-center *ngIf="closed">
        <ion-icon (click)="open()" item-end name="add"></ion-icon>
      </ion-col>
      <ion-col col-2 text-center *ngIf="opened">
        <ion-icon (click)="close()" item-end name="remove"></ion-icon>
      </ion-col>
      <ion-col col-12 *ngIf="opened">
        <p item-start ion-text class="answer" color="secondary">A :
          <span ion-text color="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the
            printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="question-item">
      <ion-col col-10>
        <p class="question" item-start ion-text color="secondary">Q :
          <span ion-text color="dark">Lorem Ipsum is simply dummy text of the printing and typesetting ?</span>
        </p>
      </ion-col>
      <ion-col col-2 text-center *ngIf="closedd">
        <ion-icon (click)="openn()" item-end name="add"></ion-icon>
      </ion-col>
      <ion-col col-2 text-center *ngIf="openedd">
        <ion-icon (click)="closee()" item-end name="remove"></ion-icon>
      </ion-col>
      <ion-col col-12 *ngIf="openedd">
        <p item-start ion-text class="answer" color="secondary">A :
          <span ion-text color="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the
            printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="question-item">
      <ion-col col-10>
        <p class="question" item-start ion-text color="secondary">Q :
          <span ion-text color="dark">Lorem Ipsum is simply dummy text of the printing and typesetting ?</span>
        </p>
      </ion-col>
      <ion-col col-2 text-center *ngIf="closeddd">
        <ion-icon (click)="opennn()" item-end name="add"></ion-icon>
      </ion-col>
      <ion-col col-2 text-center *ngIf="openeddd">
        <ion-icon (click)="closeee()" item-end name="remove"></ion-icon>
      </ion-col>
      <ion-col col-12 *ngIf="openeddd">
        <p item-start ion-text class="answer" color="secondary">A :
          <span ion-text color="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the
            printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        </p>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>