page-faq {
    ion-content{
        ion-icon{
            line-height: 60px;
            font-size: 22px;
            color: color($colors,secondary);
            text-align: center;
        }
        .question-item{
            padding-left:10px;
        }
        .question{
            margin-bottom:0px !important;
        }
        .answer{
            margin-top:0px !important;
        }
    }
}
